.App {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	align-items: center;
}
.App Button {
	width: 200px;
	margin: 5px 0px;
}
Button#searchBtn {
	width: 80px;
	margin: unset;
}
.App.Users {
	width: 90%;
}
.App.Users Button {
	margin: 5px 10px;
	margin-left: 0px;
	width: 80px;
}
.App.Users .brand {
	margin: 5px 10px;
}
.App.Users .searchBar {
	margin: 5px 10px;
}
.App.Users .card {
	width: 380px;
	margin: 10px;
}
.App.Users .CardDeck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.error {
	color: red;
}
.noFiles {
	size: 40px;
	font-family: sans-serif;
	margin: 140px 0px;
}
